<div class="decorative-background" aria-hidden="true">
  <span class="sparkle sparkle-one">✦</span><span class="sparkle sparkle-two">✦</span><span class="sparkle sparkle-three">•</span>
  <span class="flower flower-one">✿</span><span class="flower flower-two">✿</span>
</div>
